include Makefile
recursive-include pretalx_lower_thirds *.py
recursive-include pretalx_lower_thirds/locale *
recursive-include pretalx_lower_thirds/static *
recursive-include pretalx_lower_thirds/templates *
