include Makefile
recursive-include img *.png
recursive-include pretalx_broadcast_tools *.py
recursive-include pretalx_broadcast_tools/locale *
recursive-include pretalx_broadcast_tools/static *
recursive-include pretalx_broadcast_tools/templates *
