{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html" charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>{{ request.event.name }} lower thirds</title>
        {% compress js %}
            <script src="{% static "vendored/jquery-3.1.1.js" %}"></script>
        {% endcompress %}
        <script src="{% static "pretalx_broadcast_tools/generic.js" %}"></script>
        <script src="{% static "pretalx_broadcast_tools/lower_thirds.js" %}"></script>
        <link rel="stylesheet" href="{% static "pretalx_broadcast_tools/frontend.css" %}" />
        {% if request.event and request.event.custom_css %}
            <link rel="stylesheet" type="text/css" href="{{ request.event.custom_css.url }}"/>
        {% endif %}
    </head>
    <body class="lower3rd">
        <div id="l3box">
            <p id="l3title">Loading ...</p>
            <p id="l3speaker">Content should appear soon. If not, please verify you have Javascript enabled.</p>
            <p id="l3info_line"></p>
        </div>
    </body>
</html>
