{% extends "orga/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        {% if localized_rooms %}
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">{% trans "room list" %}</th>
                        <th scope="col" colspan="2">Feature</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in localized_rooms %}
                        <tr>
                            <th scope="row">{{ room }}</th>
                            <td><a href="{% url 'plugins:pretalx_broadcast_tools:lowerthirds' request.event.slug %}#{{ room }}">Lower Thirds</a></td>
                            <td><a href="{% url 'plugins:pretalx_broadcast_tools:room_info' request.event.slug %}#{{ room }}">Room Info</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <p>
            pretalx will automatically replace some placeholders in your custom
            content:
        </p>
        <dl>
            <dt><code>{CODE}</code></dt>
            <dd>Use to embed the talk code (<code>MUX9U3</code> for example).</dd>

            <dt><code>{EVENT_SLUG}</code></dt>
            <dd>Use to embed the event slug.</dd>

            <dt><code>{FEEDBACK_URL}</code></dt>
            <dd>URL to the talk feedback page.</dd>

            <dt><code>{TALK_SLUG}</code></dt>
            <dd>Use to embed the talk slug.</dd>

            <dt><code>{TALK_URL}</code></dt>
            <dd>URL to the talk detail page.</dd>
        </dl>

        <fieldset>
            <legend>
                {% translate "Lower thirds" %}
            </legend>
            {% bootstrap_field form.broadcast_tools_lower_thirds_no_talk_info layout='event' %}
            {% bootstrap_field form.broadcast_tools_lower_thirds_info_string layout='event' %}
            <p>
                The info line will be shown on the bottom right side of your
                lower third. If you set it to an empty string, it will automatically
                hide itself.
            </p>
        </fieldset>
        <fieldset>
            <legend>
                {% translate "Room info" %}
            </legend>
            {% bootstrap_field form.broadcast_tools_room_info_lower_content layout='event' %}
        </fieldset>
        <fieldset>
            <legend>
                {% translate "PDF export" %}
            </legend>
            {% bootstrap_field form.broadcast_tools_pdf_show_internal_notes layout='event' %}
            {% bootstrap_field form.broadcast_tools_pdf_ignore_do_not_record layout='event' %}
            {% bootstrap_field form.broadcast_tools_pdf_questions_to_include layout='event' %}
            {% bootstrap_field form.broadcast_tools_pdf_additional_content layout='event' %}
        </fieldset>
        <fieldset>
            <div class="submit-group panel">
                <span></span>
                <span class="d-flex flex-row-reverse">
                    <button
                        type="submit" class="btn btn-success btn-lg"
                        name="action" value="save"
                    >
                        <i class="fa fa-check"></i>
                        {% trans "Save" %}
                    </button>
                </span>
            </div>
        </fieldset>
    </form>
{% endblock %}
