* {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
    color: white;
    font-family: "Muli","Open Sans","OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

body {
    background-color: black;
}

/* room info *********************************************/
#broadcast_tools_room_info {
    display: flex;
    flex-flow: column;
    height: 100vh;
    overflow: hidden;
}

#broadcast_tools_room_info_header, #broadcast_tools_room_info_qr {
    padding: 2em;
    text-align: center;
}

#broadcast_tools_room_info_roomname {
    font-size: 5vh;
    margin-bottom: 0.5em;
    font-weight: bold;
}

#broadcast_tools_room_info_title {
    font-size: 8vh;
    margin-bottom: 0.2em;
    font-weight: bold;
}

#broadcast_tools_room_info_speaker {
    font-size: 6vh;
    font-weight: normal;
}

#broadcast_tools_room_info_qr {
    flex: 1;
}

#broadcast_tools_room_info_qr img {
    background-color: white;
    height: calc(100% - 2vh);
}

#broadcast_tools_room_info_qr p {
    margin-top: 1em;
}

/* lower thirds ******************************************/
#broadcast_tools_lower_thirds_box {
    width: 1020px;

    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -510px;
    padding: 15px;

    box-shadow: 5px 5px 10px 0 rgba(50, 50, 50, 0.75);
    background-color: #3aa57c;
}

#broadcast_tools_lower_thirds_title {
    font-size: 3vh;
    font-weight: 500;
    margin-bottom: 15px;
}

#broadcast_tools_lower_thirds_speaker {
    font-size: 2vh;
}

#broadcast_tools_lower_thirds_infoline {
    font-size: 1.8vh;
    text-align: right;
}

/* room timer ********************************************/
#broadcast_tools_room_timer_header {
    padding: 2em;
    text-align: center;
}

#broadcast_tools_room_timer_title {
    font-size: 8vh;
    margin-bottom: 0.2em;
    font-weight: bold;
}

#broadcast_tools_room_timer_speaker {
    font-size: 6vh;
    font-weight: normal;
}

#broadcast_tools_room_timer_scheduledata {
    font-size: 3vh;
    font-weight: normal;
}

#broadcast_tools_room_timer_timeleft {
    font-size: 6vh;
    text-align: center;
}

#broadcast_tools_room_timer_timeleft_timer {
    font-size: 35vh;
}

#broadcast_tools_room_timer_progressbar, #broadcast_tools_room_timer_progressbar_bar {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 2em;
}

#broadcast_tools_room_timer_progressbar {
    right: 0;
}
