* {
    margin: 0;
    padding: 0;
    line-height: 1.2em;
}

#l3box {
    width: 1020px;

    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -510px;

    color: white;
    font-family: "Muli","Open Sans","OpenSans","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 15px;

    box-shadow: 5px 5px 10px 0px rgba(50, 50, 50, 0.75);
    background-color: #3aa57c;
}

#l3title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

#l3speaker {
    font-size: 20px;
}

#l3info_line {
    font-size: 16px;
    text-align: right;
}
